[defaults]
inventory = ./inventory/hosts
retry_files_enabled = false
host_key_checking = false
timeout = 30
gather_timeout = 300
forks = 10

[ssh_connection]
#ssh_args = -o ControlPath=/var/shm/control:%h:%p:%r
ssh_args="-C -F ./ssh.cfg -o ControlMaster=auto -o ControlPersist=60s"
