# Connecting to OpenStack workstation
Host workstation-openstack
  Hostname workstation-OSP_GUID.rhpds.opentlc.com
  User cloud-user
# Connecting to instances on OpenStack or OpenStack nodes via workstation
Host 10.10.10.* 192.168.0.* *.rhpds.opentlc.com
  User          cloud-user
  ProxyJump     workstation-openstack
  UserKnownHostsFile=/dev/null
# For OpenSSH ~7.3 Use ProxyCommand
#  ProxyCommand  ssh -W %h:%p workstation-openstack
# Credential for instances on OpenStack
Match User cloud-user
  IdentityFile ~/.ssh/openstack.pem

Host *
  ForwardAgent yes
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
